*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
**/*.jar
**/*.war
**/*.ear
**/*.log
**/*.fls
**/*.fdb_latexmk
**/*.dvi
**/*.synctex.gz
**/*.lof
**/*.pdf
**/*.gz
**/*.aux
**/*.out
**/*.toc


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
